body{
    background-color: rgb(2, 43, 60);
    box-sizing: border-box;
    color: #ccc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}

h1{
    text-align: center;
}
.nav{
    display: flex;
    gap: 4em;
}
.logo > img{
    max-width: 5em;
}
.nav-div > .actions{

}
.signup-form-div,
.login-form-div {
    border: 3px solid #ccc;
    text-align: center;
    padding: 1em;
    margin: 5em auto;
    width: 80%; 
    max-width: 400px;
    border-radius: .5rem;
}

input {
    width: 100%; 
    margin-top: .8em;
    font-size: 1rem;
    border: none;
    border-radius: .5rem;
    padding: 10px; 
    outline: none;
}

input[type="submit"] {
    background-color: blueviolet;
    font-size: 1.1rem;
    color: #f1f1f1;
    padding: 10px; 
}