body{
    background-color: rgb(2, 43, 60);
    box-sizing: border-box;
    color: #ccc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    margin: 2em;
}

h1{
    text-align: center;
}
.nav-div{
    display: flex;
    gap: 1em;
    flex-direction: row;
    margin: 1em auto;
    text-align: center;
}
.logo > img{
    max-width: 5em;
}
.nav-div > .actions{
    text-align: center;
    margin: auto;
}

.nav-div > .actions > a{
    color: #f1f1f1;
    margin: .8em;
    font-weight: bolder;
    text-decoration: dotted;
}

.signup-form-div,
.login-form-div {
    border: 3px solid #ccc;
    text-align: center;
    padding: 1em;
    margin: 5em auto;
    width: 80%; 
    max-width: 400px;
    border-radius: .5rem;
}

input {
    width: 100%; 
    margin-top: .8em;
    font-size: 1rem;
    border: none;
    border-radius: .5rem;
    padding: 10px; 
    outline: none;
}

input[type="submit"] {
    background-color: blueviolet;
    font-size: 1.1rem;
    color: #f1f1f1;
    padding: 10px; 
    cursor: pointer;
}

.post-form{
    margin: 1em auto;
    max-width: 450px;
    align-items: center;
}

textarea{
    width: 100%;
    margin-top: 1em;
}

.draft-publish,
.add-things{
    display: flex;
    flex-direction: row;
    max-width: 450px;
    text-align: center;
    justify-content: center;
    align-content: center;
    margin: 1em auto;
}

.add-things{
    max-width: 100%;
}

.draft-publish > input,
.draft-publish > .back{
    max-width: fit-content;
    margin: 1em auto;
}

.draft-publish > .back{
    background-color: rgb(58, 15, 3);
    border-radius: .5rem;
    text-align: center;
}

.add-things > input{
    max-width: fit-content;
    margin: 1em auto;
    color: #f1f1f1;
    cursor: pointer;
}

.mov{
    color: blueviolet;
}